.Bar {
  position:fixed;
  padding-top: 15px;
  bottom:0;
  width:100%;
  height:70px;
  background: #37474F;
  box-shadow: 10px 10px 5px #888888;
}

.circleButton {
  color: #FFFFFF;
  vertical-align: middle;
  background: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0px;
}

.circleButton:hover {

    color: #1DE9B6;
    cursor: pointer;
}
